:root {
  --color-primary: #ca2025;
  --color-secondary: #020202;
  --color-dark: #020202;
  --color-light: #ececec;

  --font-body: "articulat-cf", sans-serif;
  --font-title: "articulat-cf", sans-serif;

  --font-body: clamp(1rem, 1.1vw, 1.125rem);
  --font-subtitle: clamp(1.25rem, 2.5vw, 3.75rem);
  --font-section: clamp(2.5rem, 4vw, 4rem);
  --font-small: clamp(1.25rem, 1.75vw, 2.5rem);

  --font-regular: 300;
  --font-bold: 700;

  --space-xs: clamp(0.75rem, 1vw, 0.2rem);
  --space-sm: clamp(1.5rem, 3vw, 2.5rem);
  --space-md: clamp(3rem, 6vw, 6rem);
}

/* --------------------------------------------------------------------------
   1. RESET y Base
   -------------------------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "articulat-cf", sans-serif;
}

/* .inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

/* Esta es la fuente que estará por defecto */
/* .articulat-normal {
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

.articulat-bold {
  font-family: "articulat-cf", sans-serif;
  font-weight: 700;
  font-style: bold;
}

body {
  font-family: "articulat-cf", sans-serif;

  font-weight: var(--font-regular);
  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-secondary);
}

p {
  font-family: "articulat-cf", sans-serif;
  color: var(--color-light);
  font-weight: 400;
  font-size: clamp(1rem, 1.2vw, 1.125rem);
  margin: 0;
}

/* --------------------------------------------------------------------------
   2. TÍTULOS
   -------------------------------------------------------------------------- */
h1 {
  font-family: "articulat-cf", sans-serif;

  /* font-weight: var(--font-bold); */
  font-size: var(--font-section);
  margin-bottom: 2rem;
  color: var(--color-light);
  padding-left: 2rem;
}

h2 {
  font-family: "articulat-cf", sans-serif;

  font-weight: 400;
  font-size: clamp(1.5rem, 3vw, 1.5rem);
  margin: 0;
  color: var(--color-light);
}

h3 {
  font-family: "articulat-cf", sans-serif;

  font-weight: 400;
  font-size: clamp(1.25rem, 1.75vw, 2.5rem);
  margin: 0;
  color: var(--color-light);
}

span {
  font-family: "articulat-cf", sans-serif;

  font-weight: 400;
  color: var(--color-light);
  opacity: 0.5;
}

/* --------------------------------------------------------------------------
   3. PREFERS-REDUCED-MOTION
   -------------------------------------------------------------------------- */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* --------------------------------------------------------------------------
   4. HERO
   -------------------------------------------------------------------------- */
